In [1]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('HR_comma_sep.csv')

C:\Users\Dinesh kumar\AppData\Local\Temp\ipykernel_11892\2483486137.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [3]:
left = df[df.left == 1]
left.shape

(3571, 10)

In [4]:
retained = df[df.left == 0]
retained.shape

(11428, 10)

In [17]:
#df.groupby('left').mean()
import numpy as np
grouped = df.groupby('left')
grouped.agg(np.mean())

TypeError: mean() missing 1 required positional argument: 'a'